:root {
    --red: #e60028;
    --umber: #963522;
    --gray: #f6f5f3;
    --grays: #f8f9f9;
    --gray-dark: #ccc;
    --yellow: #fecf22;
    --yellow-hover: #fecf33;
    --black: #303030;
    --black-light: #939393;
    --link: #2980b9;
}

picture img {width: 100%;}

a,
button {-webkit-transition: .2s;-o-transition: .2s;transition: .2s;}

a:hover {color: var(--umber);}

.intro__info {
    left: 7%;
    padding-bottom: 7.5%;
    z-index: 2;
}

.intro-logo {width: 100%;}
.intro-address {font-size: 2rem;}

.intro-phone {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 1.5% 5%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
    background-color: var(--yellow); 
}

.intro-phone:hover {
    color: var(--umber);
    background-color: var(--yellow-hover);
}

.intro__arrow-down {
    width: 6.5%;
    right: 0;
    left: 0;
    bottom: 4.5%;
    margin: 0 auto;
    -webkit-animation: bounce 1.4s infinite linear;
            animation: bounce 1.4s infinite linear;
    z-index: 2;
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: translate3d(0,-30%,0);transform: translate3d(0,-30%,0);}
    50% {-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0);}
    100% {-webkit-transform: translate3d(0,-30%,0);transform: translate3d(0,-30%,0);}
}

@keyframes bounce {
    0% {-webkit-transform: translate3d(0,-30%,0);transform: translate3d(0,-30%,0);}
    50% {-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0);}
    100% {-webkit-transform: translate3d(0,-30%,0);transform: translate3d(0,-30%,0);}
}

.intro__arrow-icon {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    fill: var(--yellow);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.intro__arrow-down:hover .intro__arrow-icon {fill: var(--umber);}

.slide-img {height: 100%;}
.slide-img img {-o-object-fit: cover;object-fit: cover;}


@media (max-width: 992px) {
    .intro-logo {width: 50%;}

    .intro__info {
        width: 100%;
        padding-bottom: 11%;
        left: 0%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(2,0,36,1)), color-stop(0%, rgba(9,9,121, .5)), to(rgb(255 255 255 / 30%)));
        background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 30%) 100%);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 30%) 100%);
    }

    .intro-address {font-size: 2.1rem;}

    .intro-phone {
        padding: 1% 3%;
    }

    .intro__arrow-down {
        width: 9%;
        bottom: 4%;
    }
}

@media (max-width: 768px) {
    .intro__info {
        padding-bottom: 13%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(2,0,36,1)), color-stop(0%, rgba(9,9,121, .5)), to(rgb(255 255 255 / 40%)));
        background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 40%) 100%);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 40%) 100%);
    }

    .intro-logo {width: 60%;}
    .intro-address {font-size: 2rem;}

    .intro-phone {
        font-size: 1.5rem;
    }

    .intro__arrow-down {width: 10.5%;}

    .slide-img img {-o-object-position: 70%;object-position: 70%;}
}

@media (max-width: 576px) {
    .intro__info {
        padding-bottom: 16%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(2,0,36,1)), color-stop(0%, rgba(9,9,121, .5)), to(rgb(255 255 255 / 50%)));
        background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 50%) 100%);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 50%) 100%);
    }

    .intro-logo {width: 65%;}
    .intro-address {font-size: 1.65rem;}

    .intro-phone {
        font-size: 1.25rem;
    }

    .intro__arrow-down {width: 12%;}
}

@media (max-width: 415px) {
    .intro__info {
        padding-bottom: 21%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(2,0,36,1)), color-stop(0%, rgba(9,9,121, .5)), to(rgb(255 255 255 / 60%)));
        background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 60%) 100%);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121, .5) 0%, rgb(255 255 255 / 60%) 100%);
    }

    .intro-logo {width: 90%;}
    .intro-address {font-size: 1.5rem;}

    .intro-phone {
        font-size: 1.1rem;
    }

    .intro__arrow-down {width: 15%;}
}


.services-tagline {
    font-size: 2.9rem;
    font-weight: 600;
}

.services-subtext {
    font-size: 1.65em;
    line-height: 1.5em;
    margin: 1em 0;
}

.services__item {
    height: 100%;
    -webkit-box-shadow: 0 23px 40px rgb(0 0 0 / 20%);
            box-shadow: 0 23px 40px rgb(0 0 0 / 20%);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.services__item:hover {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
    -webkit-box-shadow: 0 23px 40px rgb(0 0 0 / 20%);
            box-shadow: 0 23px 40px rgb(0 0 0 / 20%);
}

.services__item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.7em .8em;
    background-color: var(--yellow);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.services__item-body:hover {background-color: var(--yellow-hover);}

.services__item-link {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--black);
}


@media (min-width: 1200px) {
    .services__text-container,
    .services__items-container {max-width: 1170px;}
}

@media (max-width: 1199px) {
    .services-tagline {font-size: 2.5rem;}
    .services-subtext {margin-top: .8em;}
    .services__item-link {font-size: 1.2em;}
}

@media (max-width: 992px) {
    .services-tagline {font-size: 2.2rem;}
    .services__item-body {padding: 1.5em .8em;}
}

@media (max-width: 768px) {
    .services__text-container,
    .services__items-container {
        max-width: 660px;
        width: 85.5%;
    }

    .services-tagline {font-size: 2.1rem;}
    .services-subtext {margin-top: .5em;}

    .services__item-body {padding: 1em .8em;}
}

@media (max-width: 575px) {
    .services__text-container,
    .services__items-container {width: 90%;}

    .services-tagline {font-size: 1.7rem;}

    .services-subtext {
        font-size: 1.4em;
        margin: .4em 0 0 0;
    }
    .services__col {margin-top: 5%;}
    .services__item-link {font-size: 1.55em;}
}

@media (max-width: 415px) {
    .services-tagline {font-size: 1.55rem;}

    .services-subtext {
        font-size: 1.3em;
        margin-bottom: 0.15em;
    }

    .services__item-body {padding: .85em .8em;}
    .services__item-link {font-size: 1.25em;}
}


.about {
    padding: 4rem 0;
    margin-top: 5%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(0 0 0)), to(rgb(255 255 255 / 5%))), url('../img/about/back.jpg');
    background-image: -o-linear-gradient(left, rgb(0 0 0) 0%, rgb(255 255 255 / 5%) 100%), url('../img/about/back.jpg');
    background-image: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(255 255 255 / 5%) 100%), url('../img/about/back.jpg');
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(0 0 0)), to(rgb(255 255 255 / 5%))), url('../img/about/back.webp');
    background-image: -o-linear-gradient(left, rgb(0 0 0) 0%, rgb(255 255 255 / 5%) 100%), url('../img/about/back.webp');
    background-image: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(255 255 255 / 5%) 100%), url('../img/about/back.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-tagline {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--gray);
    text-decoration: underline;
}

.about__item-text {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--bs-gray-400);
}

.about__item-icon {width: 1.5rem;}

.about__main-img {
    width: 60%;
    -webkit-box-shadow: 1.5rem -1.5rem 0px #000000b3;
            box-shadow: 1.5rem -1.5rem 0px #000000b3;
}


@media (max-width: 1199px) {
    .about {padding: 3.5rem 0;}
    .about-tagline {font-size: 3.2rem;}
    .about__item-text {font-size: 1.6rem;}
    .about__main-img {width: 90%;}
}

@media (max-width: 991px) {
    .about {
        padding: 2.7rem 0;
        background-position: left;
    }

    .about-tagline {font-size: 2.9rem;}
    .about__list-item {padding-left: 4rem;}
    .about__item-icon {width: 2.3rem;}

    .about__main-img {
        width: 55%;
        margin-top: 3%;
        -webkit-box-shadow: 1.3rem 1.3rem 0px #000000b3;
                box-shadow: 1.3rem 1.3rem 0px #000000b3;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 2.4rem 0;
        margin-top: 7%;
    }

    .about-tagline {font-size: 2.4rem;}
    .about__list-item {padding-left: 1.5rem;}
    .about__item-icon {width: 2.2rem;}
    .about__item-text {font-size: 1.5rem;}
}

@media (max-width: 575px) {
    .about {
        padding: 3rem 0;
        margin-top: 8%;
    }

    .about-tagline {font-size: 2.8rem;}

    .about__list-item {
        padding-right: 0;
        padding-left: 2rem;
    }

    .about__item-icon {width: 2.5rem;}
    .about__item-text {font-size: 1.8rem;}

    .about__main-img {
        width: 65%;
        margin-top: 5%;
    }
}

@media (max-width: 415px) {
    .about {
        padding: 2.2rem 0;
        margin-top: 11%;
        background-position: 12%;
    }

    .about-tagline {font-size: 2.2rem;}
    .about__list-item {padding-left: .7rem;}
    .about__item-icon {width: 1.8rem;}
    .about__item-text {font-size: 1.4rem;}

    .about__main-img {
        width: 75%;
        margin-top: 6%;
    }
}


.steps {padding: 4.5rem 0;}
.steps__container {padding: 0 4%;}

.steps__item {
    width: 23%;
    text-align: center;
}

.steps__item-icon {
    width: 45%;
    margin: 0 auto;
}

.steps__item-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--black);
    margin: 1.1rem 0 0.2rem 0;
}

.steps__item-text {
    font-size: 1.35rem;
    font-weight: 500;
    color: var(--black);
}


@media (max-width: 1200px) {
    .steps {padding: 3.7rem 0;}
    .steps__container {padding: 0 6%;}

    .steps__item-title {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem 0;
    }

    .steps__item-text {font-size: 1.2rem;}
}

@media (max-width: 991px) {
    .steps {padding: 4.3rem 0;}
    .steps__container {gap: 3rem 0;}
    .steps__item {width: 46%;}
    .steps__item-icon {width: 30%;}
    .steps__item-title {font-size: 2.1rem;}
    .steps__item-text {font-size: 1.7rem;}
}

@media (max-width: 768px) {
    .steps {padding: 3.9rem 0;}
    .steps__item-icon {width: 33%;}
    .steps__item-title {font-size: 1.8rem;}
    .steps__item-text {font-size: 1.5rem;}
}

@media (max-width: 575px) {
    .steps {padding: 3rem 0;}

    .steps__container {
        padding: 0 10%;
        gap: 4.3rem 0;
    }

    .steps__item {width: 100%;}
    .steps__item-icon {width: 25%;}

    .steps__item-title {
        font-size: 2.2rem;
        margin: 1.2rem 0 0.2rem 0;
    }

    .steps__item-text {font-size: 2rem;}
}

@media (max-width: 415px) {
    .steps__container {gap: 3.7rem 0;}
    .steps__item-title {font-size: 2rem;}
    .steps__item-text {font-size: 1.6rem;}
}


.partners__container {padding: 0 4%;}

.partners__item {
    width: 23%;
    background-color: var(--yellow);
    border-radius: 5px;
}

.partners__item-icon {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 9rem;
    margin: 7% auto 4% auto;
}

.partners__item-title {
    font-size: 1.5rem;
    color: var(--black);
}

@media (max-width: 1200px) {
    .partners__container {padding: 0 6%;}

    .partners__item-icon {
        height: 8.5rem;
        margin: 5% auto 6% auto;
    }

    .partners__item-title {font-size: 1.3rem;}
}

@media (max-width: 991px) {
    .partners__container {
        padding: 0 10%;
        gap: 2rem 0;
    }

    .partners__item {width: 48%;}

    .partners__item-icon {
        height: 11rem;
        margin: 3% auto 5.5% auto;
    }

    .partners__item-title {font-size: 1.7rem;}
}

@media (max-width: 768px) {
    .partners__container {gap: 1.5rem 0;}
    .partners__item-icon {height: 10rem;}
    .partners__item-title {font-size: 1.5rem;}
}

@media (max-width: 575px) {
    .partners__container {
        padding: 0 15%;
        gap: 1.7rem 0;
    }

    .partners__item {width: 100%;}

    .partners__item-icon {
        height: 11rem;
        margin: 3% auto 4% auto;
    }

    .partners__item-title {font-size: 1.9rem;}
}

@media (max-width: 415px) {
    .partners__container {gap: 1.4rem 0;}

    .partners__item-icon {
        height: 10rem;
        margin: 2% auto 3.5% auto;
    }

    .partners__item-title {font-size: 1.5rem;}
}


.advantages-container {padding: 5.5rem 3%;}

.advantages-item {
    width: 33.333%;
    padding: 0 1.2%;
}

.advantages__item-top {gap: 5%;}
.advantages__item-img {width: 20%;}

.advantages__item-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.advantages__item-text {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 6.5%;
}


@media (max-width: 1200px) {
    .advantages-container {padding: 4.5rem 6%;}
    .advantages__item-img {width: 22%;}
    .advantages__item-title {font-size: 1.2rem;}

    .advantages__item-text {
        font-size: 1.15rem;
        margin-top: 5.5%;
    }
}

@media (max-width: 991px) {
    .advantages-container {
        gap: 3.2rem;
        padding: 5rem 10%;
    }

    .advantages-item {
        width: 100%;
        padding: 0;
    }

    .advantages__item-top {gap: 3%;}
    .advantages__item-img {width: 13%;}

    .advantages__item-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .advantages__item-text {
        font-size: 1.7rem;
        margin-top: 2%;
    }
}

@media (max-width: 768px) {
    .advantages-container {
        gap: 3.3rem;
        padding: 4rem 10%;
    }

    .advantages__item-img {width: 15%;}
    .advantages__item-title {font-size: 1.7rem;}

    .advantages__item-text {
        font-size: 1.6rem;
        margin-top: 3%;
    }
}

@media (max-width: 575px) {
     .advantages-container {
        gap: 3.2rem;
        padding: 4.5rem 10%;
    }

    .advantages__item-top {gap: 4.5%;}
    .advantages__item-img {width: 20%;}
    .advantages__item-title {font-size: 1.85rem;}
    .advantages__item-text {font-size: 1.8rem;}
}

@media (max-width: 415px) {
    .advantages-container {
        gap: 2.2rem;
        padding: 3.8rem 10%;
    }

    .advantages__item-top {gap: 5.5%;}
    .advantages__item-img {width: 22%;}
    .advantages__item-title {font-size: 1.7rem;}
    .advantages__item-text {font-size: 1.55rem;}
}


.location {text-align: center;}

.location-map {
    width: 80%;
    border: 4px solid var(--yellow);
    border-radius: 10px;
    margin-top: -1rem;
}


@media (max-width: 991px) {
    .location-map {width: 85%;}
}

@media (max-width: 575px) {
    .location-map {
        width: 90%;
        margin-top: -1.3rem;
    }
}


.certificates__container {
    padding: 4rem 5%;
    gap: 1.3rem 0;
}

.certificates-item {
    width: 23.5%;
    border: 3px solid var(--yellow);
    border-radius: 5px;
}


@media (max-width: 1200px) {
    .certificates__container {
        padding: 3rem 5%;
        gap: 1.2rem 0;
    }
}

@media (max-width: 991px) {
    .certificates__container {gap: 0.8rem 1.25%;}
    .certificates-item {width: 32.5%;}
}

@media (max-width: 768px) {
    .certificates__container {
        padding: 2.5rem 7.5%;
        gap: 0.6rem 1.25%;
    }
}

@media (max-width: 575px) {
    .certificates__container {
        padding: 2.5rem 6%;
        gap: 0.7rem 1.25%;
    }

    .certificates-item {width: 49%;}
}

@media (max-width: 415px) {
    .certificates__container {padding: 2rem 6%;}
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 5%;
    background-color: var(--yellow);
}

.footer-logo {
    width: 30%;

}

.footer__nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.7rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.7rem;
}

.footer__nav-item {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.footer__nav-item:hover {color: var(--umber);}

.footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .6rem;
}

.footer__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}

.footer__media-item {width: 2.3rem;}
.footer__media-icon {-webkit-transition: .2s;-o-transition: .2s;transition: .2s;}
.footer__media-item:hover .footer__media-icon {fill: var(--umber);}

.footer-address {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bs-gray);
}

.footer-phone {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    margin-top: 1rem;
}


@media (max-width: 1200px) {
    footer {padding: 1.2rem 6%;}
    .footer-logo {width: 32.5%;}

    .footer__nav-item {font-size: 1.4rem;}

    .footer-address,
    .footer-phone {font-size: 1.4rem;}

    .footer__media-item {width: 2.15rem;}
}

@media (max-width: 991px) {
    footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 2.5rem 0;
        padding: 2.35rem 4%;
    }
    
    .footer-logo {width: 50%;}
    .footer__nav-container {grid-gap: 2.3rem;}
    .footer__nav-item {font-size: 2rem;}

    .footer__contact {
        margin: auto;
        gap: 1.3rem;
        text-align: center;
    }

    .footer-address,
    .footer-phone {font-size: 2.2rem;}

    .footer__media {
        gap: 2.5rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__media-item {width: 4rem;}
}

@media (max-width: 768px) {
    footer {
        padding: 0.5rem 2.5% 2.5rem 2.5%;
        gap: 2.3rem 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-logo {width: 57%;}

    .footer__nav-container {grid-gap: 4rem 2.5rem;}

    .footer__nav-item {
        font-size: 2.4rem;
        text-align: center;
    }

    .footer-address, 
    .footer-phone {font-size: 2.5rem;}
}

@media (max-width: 575px) {
    footer {gap: 2rem 0;}
    .footer-logo {width: 65%;}
    .footer__nav-item {font-size: 2.15rem;}

    .footer-address, 
    .footer-phone {font-size: 2.25rem;}
}

@media (max-width: 415px) {
    footer {padding: 0.7rem 3.5% 2rem 3.5%;}
    .footer-logo {width: 80%;}
    .footer__nav-container {grid-gap: 3rem .5rem;}
    .footer__nav-item {font-size: 1.75rem;}

    .footer-address, 
    .footer-phone {font-size: 2rem;}

    .footer__media-item {width: 3.5rem;}
}